In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn.linear_model as lm
from sklearn.linear_model import LinearRegression

In [2]:

data = pd.read_csv('50_Startups.csv')
data.head()

    rd_Spend  Administration  Marketing_Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [3]:
data.columns

Index(['rd_Spend', 'Administration', 'Marketing_Spend', 'State', 'Profit'], dtype='object')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   rd_Spend         50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing_Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [5]:
data.describe()

            rd_Spend  Administration  Marketing_Spend         Profit
count      50.000000       50.000000        50.000000      50.000000
mean    73721.615600   121344.639600    211025.097800  112012.639200
std     45902.256482    28017.802755    122290.310726   40306.180338
min         0.000000    51283.140000         0.000000   14681.400000
25%     39936.370000   103730.875000    129300.132500   90138.902500
50%     73051.080000   122699.795000    212716.240000  107978.190000
75%    101602.800000   144842.180000    299469.085000  139765.977500
max    165349.200000   182645.560000    471784.100000  192261.830000

In [6]:
data.shape

(50, 5)

In [7]:
data.isna()

    rd_Spend  Administration  Marketing_Spend  State  Profit
0      False           False            False  False   False
1      False           False            False  False   False
2      False           False            False  False   False
3      False           False            False  False   False
4      False           False            False  False   False
5      False           False            False  False   False
6      False           False            False  False   False
7      False           False            False  False   False
8      False           False            False  False   False
9      False           False            False  False   False
10     False           False            False  False   False
11     False           False            False  False   False
12     False           False            False  False   False
13     False           False            False  False   False
14     False           False            False  False   False
15     False           False            False  False   False
16     False           False            False  False   False
17     False           False            False  False   False
18     False           False            False  False   False
19     False           False            False  False   False
20     False           False            False  False   False
21     False           False            False  False   False
22     False           False            False  False   False
23     False           False            False  False   False
24     False           False            False  False   False
25     False           False            False  False   False
26     False           False            False  False   False
27     False           False            False  False   False
28     False           False            False  False   False
29     False           False            False  False   False
30     False           False            False  False   False
31     False           False            False  False   False
32     False           False            False  False   False
33     False           False            False  False   False
34     False           False            False  False   False
35     False           False            False  False   False
36     False           False            False  False   False
37     False           False            False  False   False
38     False           False            False  False   False
39     False           False            False  False   False
40     False           False            False  False   False
41     False           False            False  False   False
42     False           False            False  False   False
43     False           False            False  False   False
44     False           False            False  False   False
45     False           False            False  False   False
46     False           False            False  False   False
47     False           False            False  False   False
48     False           False            False  False   False
49     False           False            False  False   False

In [8]:
data.corr()

                 rd_Spend  Administration  Marketing_Spend    Profit
rd_Spend         1.000000        0.241955         0.724248  0.972900
Administration   0.241955        1.000000        -0.032154  0.200717
Marketing_Spend  0.724248       -0.032154         1.000000  0.747766
Profit           0.972900        0.200717         0.747766  1.000000

In [14]:
rd_spend = data.rd_Spend.values[:,np.newaxis]
administration = data.Administration.values

In [15]:
lr = lm.LinearRegression()
lr.fit(rd_spend,administration)

LinearRegression()

In [16]:
lr.coef_

array([0.14768456])

In [17]:
lr.intercept_

110457.09558973997

In [24]:
data_ny = data[data['State'] == 'New York']
lr_ny=LinearRegression()
lr_ny.fit(data_ny[['rd_Spend']], data_ny['Administration'], data_ny['Marketing_Spend'])
print(lr_ny.intercept_)
print(lr_ny.coef_)

106596.25815438107
[0.17467241]