In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn.linear_model as lm
from sklearn.linear_model import LinearRegression
import seaborn as sns

In [2]:
df = pd.read_csv('iris.csv')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species  species_id
0           5.1          3.5           1.4          0.2  setosa           1
1           4.9          3.0           1.4          0.2  setosa           1
2           4.7          3.2           1.3          0.2  setosa           1
3           4.6          3.1           1.5          0.2  setosa           1
4           5.0          3.6           1.4          0.2  setosa           1

In [3]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species',
       'species_id'],
      dtype='object')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
 5   species_id    150 non-null    int64
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [5]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width  species_id
count    150.000000   150.000000    150.000000   150.000000  150.000000
mean       5.843333     3.054000      3.758667     1.198667    2.000000
std        0.828066     0.433594      1.764420     0.763161    0.819232
min        4.300000     2.000000      1.000000     0.100000    1.000000
25%        5.100000     2.800000      1.600000     0.300000    1.000000
50%        5.800000     3.000000      4.350000     1.300000    2.000000
75%        6.400000     3.300000      5.100000     1.800000    3.000000
max        7.900000     4.400000      6.900000     2.500000    3.000000

In [6]:
df.shape

(150, 6)

In [7]:
df.isna()

     sepal_length  sepal_width  petal_length  petal_width  species  species_id
0           False        False         False        False    False       False
1           False        False         False        False    False       False
2           False        False         False        False    False       False
3           False        False         False        False    False       False
4           False        False         False        False    False       False
..            ...          ...           ...          ...      ...         ...
145         False        False         False        False    False       False
146         False        False         False        False    False       False
147         False        False         False        False    False       False
148         False        False         False        False    False       False
149         False        False         False        False    False       False

[150 rows x 6 columns]

In [8]:
df.corr()

              sepal_length  sepal_width  petal_length  petal_width  species_id
sepal_length      1.000000    -0.109369      0.871754     0.817954    0.782561
sepal_width      -0.109369     1.000000     -0.420516    -0.356544   -0.419446
petal_length      0.871754    -0.420516      1.000000     0.962757    0.949043
petal_width       0.817954    -0.356544      0.962757     1.000000    0.956464
species_id        0.782561    -0.419446      0.949043     0.956464    1.000000

In [9]:
sepal_length = df.sepal_length.values[:,np.newaxis]
sepal_width = df.sepal_width.values

In [13]:
lr1 = lm.LinearRegression()
lr1.fit(sepal_length,sepal_width)

LinearRegression()

In [14]:
lr1.coef_

array([-0.05726823])

In [15]:
lr1.intercept_

3.3886373794881

In [20]:
petal_length = df.petal_length.values[:,np.newaxis]
petal_width = df.petal_width.values

In [21]:
lr2 = lm.LinearRegression()
lr2.fit(petal_length,petal_width)

LinearRegression()

In [22]:
lr2.coef_

array([0.41641913])

In [23]:
lr2.intercept_

-0.3665140452167275

In [24]:
df_setosa = df[df['species'] == 'setosa']
lr_setosa = LinearRegression()
lr_setosa.fit(df_setosa[['sepal_length']], df_setosa['sepal_width'], df_setosa['petal_length'])
print(lr_setosa.intercept_)
print(lr_setosa.coef_)

-0.623011727604216
[0.80723367]

In [31]:
df_virginica = df[df['species'] == 'virginica']
lr_virginica = LinearRegression()
lr_virginica.fit(df_virginica[['sepal_length']], df_virginica['sepal_width'], df_virginica['petal_length'])
print(lr_virginica.intercept_)
print(lr_virginica.coef_)

1.5158953169132643
[0.2214404]

In [30]:
df_versicolor = df[df['species'] == 'versicolor']
lr_versicolor = LinearRegression()
lr_versicolor.fit(df_virginica[['sepal_length']], df_versicolor['sepal_width'], df_versicolor['petal_length'])
print(lr_versicolor.intercept_)
print(lr_versicolor.coef_)

3.715691622621033
[-0.14080533]